assets/models.xml

<?xml version="1.0" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="duplicateModel" type="duplicateModel"/>

  <xs:element name="relationshipModel" type="relationshipModel"/>

  <xs:element name="textInfoModel" type="textInfoModel"/>

  <xs:element name="userModel" type="userModel"/>

  <xs:complexType name="userModel">
    <xs:sequence>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
      <xs:element name="isAdmin" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="relationshipModel">
    <xs:sequence>
      <xs:element name="de0" type="xs:string" minOccurs="0"/>
      <xs:element name="de1" type="xs:string" minOccurs="0"/>
      <xs:element name="de10" type="xs:string" minOccurs="0"/>
      <xs:element name="de11" type="xs:string" minOccurs="0"/>
      <xs:element name="de12" type="xs:string" minOccurs="0"/>
      <xs:element name="de2" type="xs:string" minOccurs="0"/>
      <xs:element name="de3" type="xs:string" minOccurs="0"/>
      <xs:element name="de4" type="xs:string" minOccurs="0"/>
      <xs:element name="de5" type="xs:string" minOccurs="0"/>
      <xs:element name="de6" type="xs:string" minOccurs="0"/>
      <xs:element name="de7" type="xs:string" minOccurs="0"/>
      <xs:element name="de8" type="xs:string" minOccurs="0"/>
      <xs:element name="de9" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
      <xs:element name="source" type="xs:string" minOccurs="0"/>
      <xs:element name="target" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="duplicateModel">
    <xs:sequence>
      <xs:element name="readings" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="witnesses" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="textInfoModel">
    <xs:sequence>
      <xs:element name="isPublic" type="xs:string" minOccurs="0"/>
      <xs:element name="language" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="ownerId" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

